<button id="add" type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)='frame.show(); reset()' mdbWavesEffect>Thêm hợp đồng</button>
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" [formGroup]="formCreate" (ngSubmit)=onSubmit(formCreate.value)>
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Thêm hợp đồng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-6">
                    <!-- <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon> -->
                    <input type="date" id="start" formControlName="start" (change)="onTotal()" [(ngModel)]="start" class="form-control" mdbInput mdbValidate>
                    <label for="start">Ngày bắt đầu</label>
                    <ng-container *ngFor="let validation of validation_messages.start">
                        <mdb-error *ngIf="formCreate.get('start').hasError(validation.type) && (formCreate.get('start').dirty || formCreate.get('start').touched)">
                            {{validation.message}}
                        </mdb-error>
                    </ng-container>
                    <mdb-success *ngIf="formCreate.get('start').valid && (formCreate.get('start').dirty || formCreate.get('start').touched)">Input valid
                    </mdb-success>
                </div>

                <div class="md-form mb-6">
                    <!-- <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon> -->
                    <input type="date" id="end" formControlName="end" (change)="onTotal()" [(ngModel)]="end" class="form-control" mdbInput mdbValidate>
                    <label for="end">Ngày kết thúc</label>
                    <ng-container *ngFor="let validation of validation_messages.end">
                        <mdb-error *ngIf="formCreate.get('end').hasError(validation.type) && (formCreate.get('end').dirty || formCreate.get('end').touched)">
                            {{validation.message}}
                        </mdb-error>
                    </ng-container>
                    <mdb-success *ngIf="formCreate.get('end').valid && (formCreate.get('end').dirty || formCreate.get('end').touched)">
                    </mdb-success>
                </div>
                <!-- <div class="md-form mb-6">
                    <input type="text" id="total" formControlName="total" class="form-control" mdbInput mdbValidate>
                    <label for="salary">Tiền đặt cọc</label>
                    <ng-container *ngFor="let validation of validation_messages.total">
                        <mdb-error *ngIf="formCreate.get('total').hasError(validation.type) && (formCreate.get('total').dirty || formCreate.get('total').touched)">
                            {{validation.message}}
                        </mdb-error>
                    </ng-container>
                    <mdb-success *ngIf="formCreate.get('total').valid && (formCreate.get('total').dirty || formCreate.get('total').touched)">
                        Input valid
                    </mdb-success>
                </div> -->
                <div class="md-form mb-6">
                    <p>Khách hàng</p>
                    <select formControlName="customer">
                      <option *ngFor="let item of customers" [ngValue] ='item'>{{item.cusName}}</option>
                    </select>
                </div>
                <div class="md-form mb-6">
                    <p>Nhân viên:</p>
                    <select formControlName="employee">
                    <option *ngFor="let item of employees" [ngValue] ='item'>{{item.empName}}</option>
                  </select>
                </div>
                <div class="md-form mb-6">
                    <p>Dịch vụ:</p>
                    <select formControlName="service" (change)="onTotal()" [(ngModel)]="service">
                    <option *ngFor="let item of services" [ngValue] ='item'>{{item.serviceName}}</option>
                  </select>
                </div>
                <h3>Tổng tiền: {{total}}</h3>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button [disabled]="formCreate.invalid" (click)="formCreate.valid? frame.hide(): frame.show()" type="submit" mdbBtn color="default" class="waves-light" mdbWavesEffect type="submit">Thêm</button>
            </div>
        </form>
    </div>
</div>
